@model IEnumerable<WakilRecouvrement.Domain.Entities.Lot>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js">
</script>

<h2> Consulter les clients</h2>


@Html.DropDownList("numLot", ViewData["list"] as SelectList, new{ @class = "form-control"})

<br />

<table id="demodata" class="table table-striped table-bordered dt-responsive nowrap">



    <thead>
        <tr>
            <th>NumClient</th>
            <th>NumLot</th>
            <th>Compte</th>
            <th>IDClient</th>
            <th>NomClient</th>
            <th>TelPortable</th>
            <th>TelFixe</th>
            <th>Solde debiteur</th>
            <th>Agence</th>
            <th>Adresse</th>
            <th>Type</th>
            <th>Numero</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>






<script>

        DemoDatatable();

        $(document).ready(function () {
            $.noConflict();

        $("#numLot").change(function () {
            DemoDatatable();

            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("SetNumLot", "Lot")',
                dataType: 'json',
                data: { numLot: $("#numLot").val() },
                success: function (data) {

                   // DemoDatatable();

                },
                error: function (ex) {
                    //alert('Failed to retrieve states.' + ex);
                }
            });*@




        })
    });


    function DemoDatatable() {
        $("#demodata").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "ajax": {
                "url": '/Lot/LoadData',
                "type": "POST",
                "datatype": "json",
                "data": { numLot : $("#numLot").val() }
            },
            "columns": [
                { "data": "LotId", "name": "LotId", "autoWidth": true }
                , { "data": "NumLot", "name": "NumLot", "autoWidth": true }
                , { "data": "Compte", "Name": "Compte", "autoWidth": true }
                , { "data": "IDClient", "name": "IDClient", "autoWidth": true }
                , { "data": "NomClient", "name": "NomClient", "autoWidth": true }
                , { "data": "TelPortable", "name": "TelPortable", "autoWidth": true }
                , { "data": "TelFixe", "name": "TelFixe", "autoWidth": true }
                , { "data": "SoldeDebiteur", "name": "SoldeDebiteur", "autoWidth": true }
                , { "data": "DescIndustry", "name": "DescIndustry", "autoWidth": true }
                , { "data": "Adresse", "name": "Adresse", "autoWidth": true }
                , { "data": "Type", "name": "Type", "autoWidth": true }
                , { "data": "Numero", "name": "Numero", "autoWidth": true }
            ]
        });
    }




</script>
